body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
}
header {
    background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
    padding: 30px 0; /* Augmentation de l'espace vertical */
    position: fixed; /* Fixe le header en haut */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px; /* Augmente la largeur pour plus d'espace */
    margin: auto;
    padding: 0 40px;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 60px; /* Augmentation de l'espace entre les menus */
    padding: 0;
}
.nav-links li {
    display: inline;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.logo-center {
    height: 90px;
    width: auto;
}
.logo-right-container {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}
.logo-right {
    height: 50px;
    width: auto;
}
.hero {
    position: relative;
    background-image: url('image/ac6b83af2082de09a7828b86ea830561.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.hero-content {
    position: relative;
    color: white;
    z-index: 2;
}
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    width: 800px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #ffcc00;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 16%;
}
.btn:hover {
    background: #e6b800;
}
